------------------------------------------------------------------------------------------------
//simple example

module.exports = {
    entry: __dirname + '/client/src/index.js',
    module: {
      rules: [
        {
          test: /\.(js|jsx)$/,
          exclude: /node_modules/,
          use: {
            loader: 'babel-loader',
            options: {
              presets: ['@babel/preset-react', '@babel/preset-env']
            }
          }
        }
      ]
    },
     output: {
      filename: 'bundle.js',
      path: __dirname + '/client/dist'
    }
  };

-----------------------------------------------------------------------
//resolving file extentions (ignoring them on imports/exports)

module.exports = {
    entry: __dirname + '/client/src/index.js',
    module: {
      rules: [
        {
          test: /\.(js|jsx)$/,
          exclude: /node_modules/,
          use: {
            loader: 'babel-loader',
            options: {
              presets: ['@babel/preset-react', '@babel/preset-env']
            }
          }
        }
      ]
    },
     output: {
      filename: 'bundle.js',
      path: __dirname + '/client/dist'
    },
    resolve: {
      extensions: ['*', '.js', '.jsx'],
    }
  };

//------------------------------------------------------------------------------------------------
//using css modules


module.exports = {
    entry: __dirname + '/client/src/index.js',
    module: {
      rules: [
        {
          test: /\.(js|jsx)$/,
          exclude: /node_modules/,
          include: SRC_DIR,
          use: [
            {
              loader: 'babel-loader',
              options: {
                cacheDirectory: true,
                presets: ['@babel/preset-env', '@babel/preset-react'],
              },
            },
          ],
        },
        {
          test: /\.css$/i,
          exclude: /node_modules/,
          use: [
            'style-loader',
            {
              loader: 'css-loader',
              options: {
                modules: true,
              },
            },
          ],
        },
      ],
    },

     output: {
      filename: 'bundle.js',
      path: __dirname + '/client/dist'
    },
    resolve: {
      extensions: ['*', '.js', '.jsx'],
    }
  };
